.product-title {
  position: absolute;
  bottom: 12rem;
  z-index: 1000;
  font-weight: 500;
  color: azure;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 9px;
  width: 100;
}
